<fieldset>
    <legend style="font-size: 18px; margin-top: 15px;">Vault Plugin Configurations</legend>

    <div class="form_item_block">
        <label>Vault API<span class='asterix'>*</span></label>
        <input type="text" ng-model="vault_addr" ng-required="true" placeholder="https://example.vault.url.amperity.com"/>
        <span class="form_error" ng-show="GOINPUTNAME[vault_addr].$error.server">{{GOINPUTNAME[vault_addr].$error.server}}</span>
    </div>

    <div class="form_item_block">
        <label>Authentication Method<span class='asterix'>*</span></label>
        <form>
            <select ng-model="auth_method" ng-required="true">
                <option value="Token">Token</option>
                <option value="AWS IAM Role">Token</option>
            </select>
        </form>
        <span class="auth_method" ng-show="GOINPUTNAME[auth_method].$error.server">{{GOINPUTNAME[auth_method].$error.server}}</span>
    </div>

    <!-- Token Auth Method -->
    <div class="form_item_mlock" ng-show="auth_method == 'token'">
        <label>Vault Token, DO NOT USE IN PRODUCTION<span class='asterix'>*</span></label>
        <input type="text" ng-model="vault_token" ng-required="auth_method == 'token'" placeholder=""/>
        <span class="vault_token" ng-show="GOINPUTNAME[vault_token].$error.server">{{GOINPUTNAME[vault_token].$error.server}}</span>
    </div>

    <!-- AWS IAM Auth Method -->
    <div class="form_item_mlock" ng-show="auth_method == 'AWS IAM Role'">
        <label>Vault Token, DO NOT USE IN PRODUCTION<span class='asterix'>*</span></label>
        <input type="text" ng-model="iam_role" ng-required="auth_method == 'AWS IAM Role'" placeholder=""/>
        <span class="vault_token" ng-show="GOINPUTNAME[iam_role].$error.server">{{GOINPUTNAME[iam_role].$error.server}}</span>
    </div>
</fieldset>
