{:batman "Bruce Wayne"
 :flash "Barry Allen"
 :daredevil "Matt Murdock"
 :batgirl "Barbara Gordon"
 :ironman "Tony Stark"
 :wasp "Janet Van Dyne"
 :spider-man "Peter Parker"
 :hulk "Bruce Banner"
 :captain-marvel "Carol Danvers"
 :wonder-woman "Diana Prince"
 :superman "Clark Kent"}
