<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="amperity.gocd.secret.vault" version="1">
  <about>
    <name>Vault Secrets</name>
    <version>0.3.1</version>
    <target-go-version>19.7.0</target-go-version>
    <description>Secret material resolution via HashiCorp Vault</description>

    <vendor>
      <name>Amperity</name>
      <url>https://github.com/amperity/gocd-vault-secrets</url>
    </vendor>
  </about>
</go-plugin>
